/*coded by AJ, sizing edited by eva*/
#headerbar {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #00B2CA;
    height: 54px;
    z-index: 3;
    margin-left : -9px;
}

#headertitle {
    position: absolute;
    color: white;
    left: 100px;
    top: 12px;                               
    font-size: 27px;
    font-family: Arial;
}

#headerprofile {
    position: absolute;
    right: 70px;
    top: 8px;   
    width: 35px;
    height: 35px;
}

.menu {
    display: none;
    position: absolute;
    background-color: #FBD1A2;
    min-width: 90px;
    top: 60px;
    z-index: 1;
    overflow: auto;
    margin: -9px;
}

.menu a {
    color: black;
    padding: 10px 16px;
    font-family: Arial;
    font-size: 15px;
    display: block;
    text-decoration: none;
}

/*Show can be whatever name you want once you implement the javascript code for the menu. For example:
  function open_menu() {
    document.getElementById("dropdownOptions").classList.toggle("show");
  }
*/
.show {
    display: block;
}

.sidebar div {
    position: relative;
    height: 1px;
    background-color: white;
    margin: 9px;                         
}

.sidebar {
    width: 50px;                            
    display: block;
    margin: 14px 0 0 20px;                   
}

